@model BookMyFlight.Models.AvailableFlight

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FromWhere)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FromWhere)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WhereTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WhereTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Class)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Class)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartureDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvailableSeates)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvailableSeates)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Payment" asp-controller="Payment">Book</a> |
    <a asp-action="Edit" asp-route-id="@Model?.Sno">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
